*{
    margin: 0;
    padding: 0;
}
body{
    transition:all .5s ease;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
}
img{
    width: 100%;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
.fix{
    overflow:hidden;
}
.aligncenter{
    display:block;
    margin:0 auto;
}
.floatleft{
    float:left
}
.floatright{
    float:right
}
.container_full{
    width:100%;
    height:auto;
}
.container{
    display:block;
    width:70%;
    margin:0 auto;
}

/* Body CSS Starts */
.box{
    min-height: 75px;
    background-color: red;
    border: 10px solid rgb(86, 136, 86);
}
.third{
    background-color: rgb(36, 60, 104);
}
header, .hero, section, footer{
    background-color: #FFAEC9;
    padding: 20px 0;
    margin: 20px 0;
}


/* Body CSS Ends */